*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@media (prefers-reduced-motion) {
	html {
		scroll-behavior: auto;
	}
}

html{
    overflow-x: auto;
    scroll-behavior: smooth;
}

body{
    overflow-x: auto;
    background-image: linear-gradient(rgba(148, 82, 165, 0.493), rgba(97, 153, 179, 0.445));
}

.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: auto;
    overflow-y: scroll;
    background-image: linear-gradient(rgba(0, 219, 172, 0.6), rgba(97, 179, 147, 0.397));
    mix-blend-mode: multiply;   
}

.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 3;
    mix-blend-mode: luminosity;
}

.logo{
    width: 35%;
    cursor: pointer;
    margin: 20px 25px 0;
    mix-blend-mode: multiply;
    filter: invert(0.75);
}

.menu-icon{
    width: 40px;
    cursor: pointer;
    display: none;
    margin: 20px 15px;
}

nav{
    flex: 1;
    text-align: right;
} 

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: azure;
    background: rgba(0, 116, 96, 0.562);
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

nav ul li a:hover{
    background-color: rgb(0, 70, 70);
    color:#7fffd4;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2{
    font-size: 54px;
}

.col-1 h3 {
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 5px 0 10px;
}

.col-1 p{
    font-size: 16px;
    color: #838383;
    font-weight: 100;
    margin-top: 10px;
}

.col-1 #name::after{
    content: '';
    width: 10px;
    height: 11vh;
    background: linear-gradient(#7fffd4, #279e5cb2);
    position: absolute;
    left: -4vw;
    top: 1vh;
}

.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}

.col-2 h2{
    font-size: 54px;
    color:rgba(0, 0, 0, 0.705);
    margin-left: 60vw;
    padding-bottom: 5vh;
}

.col-2 h3 {
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 8vh 18vw 10px;
}

.col-2 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
    margin-top: 10px;
}

#about {
    margin-top: 6vh;
    margin-bottom: 15vh;
}

.col-2 #about h2::after{
    content: '';
    width: 10px;
    height: 9vh;
    background: linear-gradient(#7fffd4, #279e5cb2);
    position: absolute;
    top: 6vh;
    margin-left: 3vw;
    z-index: 2;
}

.col-2 .headshot{
    width: 90%;
    border-radius: 50%;
    margin-bottom: 12vh;
}

.color-box{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(#f868eca4, #1ea593b2);
    border-radius: 20px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
    margin-bottom: 12vh;
}

.about-page{
    background-image: linear-gradient(rgba(97, 179, 147, 0.397), rgba(0, 219, 172, 0.6));
}

#resume h2{
    color:rgba(0, 0, 0, 0.705);
    margin-left: 8vw;
    margin-bottom: 8vh;
}

.col-1 #resume::after{
    content: '';
    width: 10px;
    height: 9vh;
    background: linear-gradient(#7fffd4, #279e5cb2);
    position: absolute;
    left: 4vw;
    top: 0vh;
}

.resume-page{
    background-image: linear-gradient(rgba(0, 219, 172, 0.6), rgba(97, 179, 147, 0.397));
}

#resume-pdf{
    text-align: center;
    padding-bottom: 15vh;
    display: block;
}

.projects-page{
    padding-top: 10vh;
    background-image: linear-gradient(rgba(97, 179, 147, 0.397), rgba(0, 219, 172, 0.6));
    padding-bottom: 15vh;
}

#projects #table1 {
    display: inline-flexbox;
    filter: invert(0.9);
    mix-blend-mode: saturation;
    text-align: center;
}

#projects #table2 {
    display: inline-flexbox;
    filter: invert(0.9);
    mix-blend-mode: saturation;
    text-align: center;
}

.col-2 #projects h2::after{
    content: '';
    width: 10px;
    height: 10vh;
    background: linear-gradient(#7fffd4, #279e5cb2);
    position: absolute;
    top: 0vh;
    margin-left: 3vw;
    z-index: 2;
}

#contact h2{
    color:rgba(0, 0, 0, 0.705);
    margin-left: 8vw;
    margin-bottom: 8vh;
}

.col-1 #contact::after{
    content: '';
    width: 10px;
    height: 10vh;
    background: linear-gradient(#7fffd4, #279e5cb2);
    position: absolute;
    left: 5vw;
    top: 0vh;
}

.contact-page{
    padding-top: 10vh;
    background-image: linear-gradient(rgba(0, 219, 172, 0.6), rgba(97, 179, 147, 0.397));
    margin-bottom: 5vh;
}

#contact img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8vh;
}

.socials img{
    height: 40px;
    margin: 20px;
    cursor: pointer;
}

.socials {
    text-align: center;
    position: sticky;
}

.socials::after{
    content:"";
    position:absolute;
    width:20%;
    border-top:1px solid green;
    top: 5px;
    left:40%;
}

@media only screen and (max-width:1150px){
    nav ul{
        width: 100%;
        background: linear-gradient(#f868eca4, #79447998);
        position: absolute;
        top: 75px;
        right: 7vw;
        z-index: 3;
        opacity: 0;
    }

    nav ul li{
        display: block;
        margin-top: 5px;
        margin-bottom: 7px;
        z-index: 5;
        overflow: hidden;
    }

    nav ul li a {
        color:azure;
        background: none;
    }

    .menu-icon{
        display: block;
    }

    #menuList{
        overflow: auto;
        transition: 0.5s;
    }

    .row{
        flex-direction: column-reverse;
        margin: 50px 0;
    }

    .col-1{
        flex-basis: 100%;
        margin-top: -10vh;
    }

    .col-1 h2{
        font-size: 30px;
    }

    .col-1 h3{
        font-size: 15px;
    }

    .col-1 p{
        mix-blend-mode: multiply;
    }

    .col-2{
        flex-basis: 50%;
        padding-bottom: 50px;
    }

    .col-2 h2{
        font-size: 30px;
    }

    .col-2 h3{
        font-size: 15px;
    }

    .col-2 .headshot{
        width: 77%;
    }

    .col-2 img {
        padding-top: 8vh;
    }

    .color-box{
        transform: translateX(75px);
        margin-top: 5vh;
    }
    
    .col-1 #name::after{
        top: 0px;
        left: -5vw;
    }

    .col-2 #projects h2::after{
        height: 8vh;
    }

    .col-1 #contact::after{
        width: 10px;
        height: 9vh;
        left: 4vw;
        top: 5px;
    }

    #contact img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;   
    }
}
